.encriptador{
    /* Encriptador - 1 Desktop */
position: relative;
width: 1440px;
height: 1024px;
/* Light blue/light-blue-100 */

background: #F3F5FC;
}

.contenedorLogo{
    /* Logo */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

position: absolute;
width: 120px;
height: 48px;
left: 40px;
top: 40px;
}

.logo{
    
width: 120px;
height: 48px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.styleLogo{
    position: absolute;
left: 36.67%;
right: 37.43%;
top: 0%;
bottom: 0%;
background-image: url('Vector.png');
/* Dark blue/dark-blue-300 */

}


.frame_5{
    /* Frame 5 */
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 336px;
height: 122px;
left: 1032px;
top: 619px;

}

.textoFrame_5{
    /* Ningún mensaje fue encontrado */


width: 336px;
height: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */

text-align: center;

/* Gray/gray-500 */

color: #343A40;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.textoFrame_52{
    /* Ingresa el texto que desees encriptar o desencriptar. */


width: 336px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

/* Gray/gray-400 */

color: #495057;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.muñeco{
    /* Muñeco */


position: absolute;
width: 336px;
height: 304px;
left: 1032px;
top: 283px;
background-image: url('Muñeco.png');
}

.frame_1{
    /* Frame 1 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 229px;
height: 18px;
left: 240px;
top: 851px;

}


.group{
    /* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background-image: url('Group.png');
background-repeat: no-repeat;
}

.textoFrame_1{
    /* Solo letras minúsculas y sin acentos */

margin-left: 23px;
width: 205px;
height: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */


/* Gray/gray-400 */

color: #495057;

opacity: 0.8;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.frame_3{
    /* Frame 3 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 885px;
}

.bttnFrame_31{
/* Button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.textBttnFrame_31{
    /* Button */


width: 280px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
.textBttnFrame_32{
    /* Button */


width: 280px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
.bttnFrame_32{
    /* Button */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 328px;
height: 67px;

/* Light gray */

background: #D8DFE8;
/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}



.ingresarTextoLabel{
/* Ingrese el texto aqui */


position: absolute;
width: 577px;
height: 48px;
left: 240px;
top: 168px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */


/* Dark blue/dark-blue-300 */

color: #0A3871;
}

.rectangulo{
    /* Rectangle 1 */


position: absolute;
width: 400px;
height: 944px;
left: 1000px;
top: 40px;

/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
}


.bttnCopiar{
    /* Button */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

position: absolute;
width: 336px;
height: 67px;
left: 1032px;
top: 885px;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;
}

.textBttnCopiar{
    /* Button */


width: 288px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}


.areaTextoParaCopiar{
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci montes, sit et diam risus scelerisque vitae est. Tortor maecenas nunc ut laoreet. Eget diam mauris quam quisque ut eget fringilla sit elit. Libero, sodales duis fames id diam feugiat aliquet non egestas. */


position: absolute;
width: 336px;
height: 781px;
left: 1032px;
top: 72px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */


/* Gray/gray-400 */

color: #495057;
}



@media screen and (max-width:768px){
    .encriptador{position: relative;
        width: 768px;
        height: 1384px;
        
        /* Light blue/light-blue-100 */
        
        background: #F3F5FC;
    }
    .frame_5{
        /* Frame 5 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 32px;

position: absolute;
width: 688px;
height: 133px;
left: 40px;
top: 1001px;

/* White */

background: #FFFFFF;
/* shadow */

box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;

    }

    .textoFrame_5{
        /* Ningún mensaje fue encontrado */


width: 624px;
height: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */

text-align: center;

/* Gray/gray-500 */

color: #343A40;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
    }

    .textoFrame_52{
        /* Ingresa el texto que desees encriptar o desencriptar. */


width: 624px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

text-align: center;

/* Gray/gray-400 */

color: #495057;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
    }

    .frame_3{
        /* Frame 3 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 688px;
height: 67px;
left: 40px;
top: 870px;
    }

    .bttnFrame_31{
        /* Button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 332px;
height: 67px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
    }

    .textBttnFrame_31{
        /* Button */


width: 284px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */

color: #FFFFFF;
    }

    .bttnFrame_32{
        /* Button */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 332px;
height: 67px;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
    }

    .textBttnFrame_32{
        /* Button */


width: 284px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
    }

    .frame_1{
        /* Frame 1 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 229px;
height: 18px;
left: 40px;
top: 836px;

    }
    .group{
        /* bi:exclamation-circle-fill */


width: 16px;
height: 16px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
background-image: url('Group.png');
background-repeat: no-repeat;
    }

    .textoFrame_1{
        width: 205px;
height: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */


/* Gray/gray-400 */

color: #495057;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
    }

    .ingresarTextoLabel{
        /* Ingrese el texto aqui */


position: absolute;
width: 688px;
height: 48px;
left: 40px;
top: 240px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */


/* Dark blue/dark-blue-300 */

color: #0A3871;
    }


    .logo{
        position: absolute;
left: 5.21%;
right: 90.74%;
top: 6.25%;
bottom: 89.8%;

/* Dark blue/dark-blue-300 */

    }

    .areaTextoParaCopiar{
        /* Frame 5 */


        /* Auto layout */
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;
        
        position: absolute;
        width: 688px;
        height: 343px;
        left: 40px;
        top: 1001px;
        
        /* White */
        
        background: #FFFFFF;
        /* shadow */
        
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;

    }

    .bttnCopiar{
        /* Button */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 624px;
height: 67px;
 position: absolute;
left: 10%;
top: 117%;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
    }

    .textBttnCopiar{
        /* Button */


width: 576px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
    }


}

@media screen and (max-width:375px){
    .encriptador{position: relative;
        width: 375px;
        height: 933px;
        
        /* Light blue/light-blue-100 */
        
        background: #F3F5FC;
    }
    .logo{
        position: absolute;
left: 4.27%;
right: 87.2%;
top: 25%;
bottom: 25%;

/* Dark blue/dark-blue-300 */

    }

    .frame_5{
        /* Frame 5 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 32px;

position: absolute;
width: 327px;
height: 186px;
left: 24px;
top: 707px;

/* White */

background: #FFFFFF;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;
    }

    .textoFrame_5{
        
width: 263px;
height: 58px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */

text-align: center;

/* Gray/gray-500 */

color: #343A40;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
    }

    .textoFrame_52{
        /* Ingresa el texto que desees encriptar o desencriptar. */


width: 263px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */

text-align: center;

/* Gray/gray-400 */

color: #495057;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
    }

    .frame_1{
        /* Frame 1 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 229px;
height: 18px;
left: 16px;
top: 451px;


    }

    .group{
        /* bi:exclamation-circle-fill */


width: 16px;
height: 16px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
background-image: url('Group.png');
background-repeat: no-repeat;
    }
    .textoFrame_1{
        /* Solo letras minúsculas y sin acentos */


width: 205px;
height: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* identical to box height, or 18px */


/* Gray/gray-400 */

color: #495057;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
    }

    .frame_3{
        /* Frame 3 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 343px;
height: 158px;
left: 16px;
top: 485px;
    }

    .bttnFrame_31{
        /* Button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 343px;
height: 67px;

/* Dark blue/dark-blue-300 */

background: #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
    }

    .bttnFrame_32{
        /* Button */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 343px;
height: 67px;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
    }

    .textBttnFrame_31{
        /* Button */


width: 295px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
    }

    .textBttnFrame_32{
        /* Button */


width: 295px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
    }

    .ingresarTextoLabel{
        /* Ingrese el texto aqui */


position: absolute;
width: 343px;
height: 48px;
left: 16px;
top: 152px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 150%;
/* identical to box height, or 48px */




/* Dark blue/dark-blue-300 */

color: #0A3871;

    }

    .areaTextoParaCopiar{
        /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci montes, sit et diam risus scelerisque vitae est. Tortor maecenas nunc ut laoreet. Eget diam mauris quam quisque ut eget fringilla sit elit. Libero, sodales duis fames id diam feugiat aliquet non egestas. */


width: 279px;
height: 432px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
/* or 36px */


/* Gray/gray-400 */

color: #495057;
position: absolute;
left: 3%;
top: 57.5%;



/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
    }

    .bttnCopiar{
        /* Button */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 279px;
height: 67px;

position: absolute;
left: 10%;
top: 100%;

/* Dark blue/dark-blue-300 */

border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
    }
    .textBttnCopiar{
        /* Button */


width: 231px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */

color: #0A3871;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
    }









}